* {
  font-family: "Open Sans", sans-serif;
  background-color: #bcbcbc;
  margin: 0;
  padding: 0;
}

html {
  min-width: 700px;
  min-height: 200px;
}

html, body {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.logo {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logo-text {
  color: white;
  font-size: 18px;
}

.container {
  max-width: 700px;
  max-height: 100%;
  margin: 10px 10px;
  border-radius: 10px;
  border-color: #BBC6B9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 7px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 24px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 12px;
  text-transform: uppercase;
}

button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

input {
  border-radius: 5px;
  background: rgb(249, 250, 250);
  border: 1px solid #D6D6E7;
  font-size: 16px;
  height: 26px;
  line-height: 24px;
  padding: 7px 8px;
  color: black;
  box-shadow: none;
  margin: 10px;
  outline: none;
  border-color: #D6D6E7;
}

.cut {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createPDF {
  padding-top: 10px;
}